.App {
  background-color: var(--body-background);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--text);
}

#loading {
  text-align: center;
  margin: 20px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: var(--strong);

}