#category-menu{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

#category-menu article {
  width: 30%;
  padding: 0px 15px;
  margin: 10px 5px;
}

#category-menu article a {
  text-decoration: none;
}

#category-menu article img {
  width: 100%;
}


.category-name {
  color: rgb(50, 49, 49);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-stretch: expanded;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 0;
}

#showAllProducts {
  text-align: center;
  padding: 40px 0 20px;
}

#showAllProducts button {
  background-color: var(--alt-background-color);
  padding: 10px 20px;
  border: none;
  margin: auto;
  color: var(--text);
  font-size: 1.1rem;
}

