:root {
  --body-background: rgb(255, 255, 255);
  --footer-text: rgb(255, 255, 255);
  --footer-background: rgb(79, 79, 79);
  --icons: rgb(67, 28, 8);
  --text: rgb(58, 58, 58);
  --shadow: rgb(123, 123, 123);
  --borders: rgb(162, 162, 162);
  --nav-bar-hover: rgb(45, 129, 17);
  --whatsapp-green: rgb(37, 211, 102);
}