
footer {
  background-color: var(--footer-background);
  color: var(--footer-text);
  padding: 0 15px;
  text-align: left;
  font-size: 1.1rem;
  margin: 0 30 40px ;
  display: flex;
  justify-content: space-between;
}

footer h3 {
  font-size: 1.1rem;
  margin-top: 20px;
}

footer #category-nav-bar,
#contact,
#social-networks {
    width: 30%;
}

footer #category-nav-bar {
  margin-top: 5px;
}

footer #category-nav-bar li {
  font-weight: normal;
}

footer ul,
footer #category-nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

/* footer #category-nav-bar ul {
  display: flex;
  flex-direction: column;
} */

footer li,
footer #category-nav-bar li {
  margin: 15px 0;
  color: var(--footer-text);
  float: none;

}

footer ul li span {
  margin-left: 10px;
}

footer #category-nav-bar :hover,
#contact :hover,
#social-networks :hover {
  color: var(--nav-bar-hover);
}


.i-fb,
.i-ig {
  margin-top: 20px;
  font-size: 20px;
}

.i-ig {
  margin-left: 15px;
}

.i-wa {
  display: block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 60px;
  padding: 5px;
  opacity: 0.8;
  color: var(--whatsapp-green);
  border-radius: 50%;
}

#firma {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  margin-top: 25px;
}

