#header-top {
  margin: 20px 40px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 15vh;
}

#logo {
  width: 15%;
}

#logo img {
  height: 100%;
}

/* #logo img:hover {
  animation-name: anim-logo-rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes anim-logo-rotate {
  50% {
      width: 35%;
  }
  100% {
      width: 25%;
      transform: rotate(360deg);
  }
} */


#search-bar {
  text-align: center;
  width: 70%;
}

#search-bar form {
  display: flex;
  /* position: relative; */
  /* height: 100%; */
  /* text-align: center; */
  /* width: 75%; */
  height: 100%;
  align-items: center;
  justify-content: center;

}

#search-bar form input {
  width: 75%;
  height: 25%;
  margin-right: -40px;
  border: 1px rgb(162, 162, 162) solid;
  border-radius: 5px;
  padding-left: 10px;
  text-align: left;
  font-size: 1rem;
}

#search-bar button {
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--borders);
  border: none;
  height: 25%;
}

#icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

#icons a {
  text-decoration: none;
  border: none;
}

#icons a i {
  color: var(--icons);
  border: none;
}

#right-header {
  width: 15%
}

#hello-user {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  min-height: 40px;
}

#cart-link {
  display: flex;
}

.top-right-icons {
  font-size: 2rem;
  padding: 0 10px;
}

#shopping-cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#shopping-cart-count {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  padding: 1%;
  font-size: 12px;
  font-weight: bold;
  color: var(--text);
  border: 1px solid var(--icons);
  border-radius: 50%;
  background-color: var(--body-background);
  margin-top: -10px;
  margin-left: -20px;
}

#category-nav-bar {
  padding: 0 30px;
  margin: 0 0 5px;
}

#category-nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

#category-nav-bar li {
  list-style: none;
  /* text-decoration: none; */
  color: var(--icons);
  font-weight: bold;
  font-size: 1.1rem;
  float: left;
  box-shadow: none;
  text-transform: uppercase;
  transition: all 500ms;
}

#category-nav-bar li:hover {
  font-size: 1.2rem;
  color: var(--nav-bar-hover);
}