#shopping-cart-container {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../images/fondos/fondo-4.jpg');
  background-size: cover;
  background-position: center;
  padding:20px;
  display: flex;
}


#shopping-cart section {
  background-color: var(--body-background);
  opacity: 0.9;
  padding: 15px 20px;
  margin: 10px 0;
}

#shopping-cart article {
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 10px;
}

#item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#item .go-to-detail {
  width: 20%;
}

#item img {
  width: 100%;
}

#item p {
  width: 60%;
  text-align: left;
  font-size: 17px;
}

#item button {
  padding-right: 0;
  text-align: right;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: var(--text);
}

#item .price-discount {
  text-align: right;
  width: 100%;
}

#item .orig-price {
  text-align: right;
  margin: 15px;
  padding-top: 0;
  font-size: 14px;
  text-decoration: line-through;
}

#item .price {
  width: 100%;
}

#item .price,
#item .final-price {
  text-align: right;
  margin: 0;
  padding-top: 0;
  font-size: 16px;
  font-weight: bold;
}

#subtotal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}

#subtotal p,
#subtotal h3 {
  margin: 15px 0;
  font-size: 16px;
  font-weight: bold;
}

#free-shipping {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}

#free-shipping button {
  border: none;
  padding: 7px 0;
  text-align: left;
  background-color: transparent;
  font-size: 18px;
  color: var(--text);
}

#free-shipping p {
  font-size: 14px;
  margin: 0;
}

#free-shipping h6 {
  font-size: 16px;
  color: var(--strong);
  margin: 0 3px 0 0;
}

#shipping-cost {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#shipping-cost input,
#shipping-cost button {
  width: 48%;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  color: var(--text);
  border: 1px var(--borders) solid;
  border-radius: 5px;
}

#shipping-cost button {
  background-color: var(--input);
  text-transform: uppercase;
}

#searh-postal-code {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 5px;
  text-align: left;
}

#searh-postal-code a {
  text-decoration: none;
  color: var(--strong);
}

#payment-methods {
  margin: 20px 0 40px;
  font-size: 18px;
  box-sizing: content-box;
  text-align: right;
}

#payment-methods span{
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

#payment-methods strong {
  font-size: 16px;
  color: var(--strong);
  margin-left: 5px;
  
}

.truck-icon {
  color: var(--text);
  margin-right: 10px;
  margin-left: 0;
}

.card-icon {
  color: var(--text);
  margin: 0;
}

#total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: var(--text);
  margin-top: 20px;
  font-size: 18px;
}

#total h2{
  font-size: 18px;
  font-weight: bold;
}


#start-the-purchase {
  /* display: flex;
  justify-content: center; */
  width: 75%;
  height: 40%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

#start-the-purchase button{
  font-size: 14px;
  font-weight: bolder;
  padding: 10px 10px;
  text-transform: uppercase;
  color: var(--body-background);
  background-color: var(--icons);
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  text-align: center;
}

#more-products {
  font-size: 14px;
  text-transform: uppercase;
  padding: 25px;
  text-decoration: none;
  text-align: center;
}

#more-products a {
  text-decoration: none;
  font-size: 12px;
  color: var(--icons);
  font-weight: bolder;
  letter-spacing: 1px;
}

#cart-msg {
  background-color: var(--body-background);
  opacity: 0.9;
  color: var(--text);
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding: 100px 0;
  margin: auto;
}

#delete-button {
  color: var(--text);
}


@media (min-width:480px) {

  /* main {
      padding: 20px 80px;
      margin-top: 250px;
  } */

}
  

@media (min-width:769px) {
  #shopping-cart {
      width: 80%;
      display: flex;
      justify-content: center;
      margin: auto;
      padding: 25px;
    }

  #shopping-cart section {
      margin: 0 10px;
      width: 60%;
  }

  #shopping-cart article {
      text-align: center;
      padding: 10px;
  }
          
  #cart-content {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 25px;
  }


  #start-the-purchase {
      /* display: flex;
      justify-content: center; */
      width: 75%;
      height: 8%;
      /* margin: auto; */
      margin-top: 50px;
  }
  
  #start-the-purchase button{
      font-size: 12px;
      font-weight: bolder;
      padding: 10px 10px;
      text-transform: uppercase;
      color: var(--body-background);
      background-color: var(--icons);
      border: none;
      border-radius: 5px;
      letter-spacing: 2px;
      text-align: center;
  }


  #more-products {
      font-size: 14px;
      text-transform: uppercase;
      padding: 25px;
      text-decoration: none;
      text-align: center;
  }

  #cart-msg {
      width: 70%;
  }
}